<h1 align='center'><span style='color:green ; font-size:35px ; font-weight:bold'>Segmenting and Clustering Neighborhoods in Toronto</span></h1>

<a  href="https://www.google.com/maps/place/Toronto,+ON,+Canada/"><img src = "http://www.world-guides.com/images/toronto/toronto_map.jpg" width = 300 align="middle"> </a>

***

## Introduction

In this assignment, We are going to build the data frames with postal codes and the neighborhoods
located in Toronto, Canada. and then we are going to build another data frame with postal code and associated Latitude and Longitude data. After that we will merge/join both data frames and then will segment, and cluster the neighborhoods in the city of Toronto.

## Table of Contents


### [Section-Q2 : Adding Latitudes and Longitudes to Toronto Postal Area code Data Frame](#item5)

1. <a href="#item1">Importing the Libraries</a>
2. <a href="#item2">Toronto Postal Code and Neighbourhood data reading from previous section.</a> 
3. <a href="#item5">Create dataframe with longitude and latitude values</a>
4. <a href="#item6">Final output for Question2 and saving the output to a csv file</a>
<p></p>
<p></p>
<p></p>
<p></p>

<a id="item1"></a>

# Section-Q2 : Adding Latitudes and Longitudes to Toronto Postal Area code Data Frame

## 1. Importing the Libraries

In [1]:
import numpy as np # library to handle data in a vectorized manner

import pandas as pd # library for data analsysis
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

import json # library to handle JSON files

#!conda install -c conda-forge geopy --yes # uncomment this line if the geopy package is not available to import.
from geopy.geocoders import Nominatim # convert an address into latitude and longitude values

import requests # library to handle requests
from pandas.io.json import json_normalize # tranform JSON file into a pandas dataframe
#from pandas import json_normalize
# Matplotlib and associated plotting modules
import matplotlib.cm as cm
import matplotlib.colors as colors

# import k-means from clustering stage
from sklearn.cluster import KMeans

#!conda install -c conda-forge folium=0.5.0 --yes # uncomment this line if the folium package is not available to import.
import folium # map rendering library
pv = !python --version
print('Libraries imported.')
print('Python version used in this project', pv)

Libraries imported.
Python version used in this project ['Python 3.6.10 :: Anaconda, Inc.']

<a id="item2"></a>

## 2. Toronto Postal Code and Neighbourhood data reading from previous section.

In this section we used pandas "read_csv" method to read the data from csv file created in previous section. The file has "PostalCode, Borough and Neighborhood' as columns.

In [2]:
df_toronto_postalcodes = pd.read_csv('df_toronto_postalcodes.csv')
df_toronto_postalcodes.head()

,PostalCode,Borough,Neighborhood
0,M3A,North York,Parkwoods
1,M4A,North York,Victoria Village
2,M5A,Downtown Toronto,"Regent Park, Harbourfront"
3,M6A,North York,"Lawrence Manor, Lawrence Heights"
4,M7A,Queen's Park / Ontario Provincial Government,"Queen's Park, Ontario Provincial Government"

In [3]:
print('Shape of the data created in previous section', df_toronto_postalcodes.shape)

Shape of the data created in previous section (103, 3)

<a id="item5"></a>

## 3. Use data from csv file to create dataframe with longitude and latitude values

In [4]:
df_pc_lat_long = pd.read_csv('http://cocl.us/Geospatial_data')
df_pc_lat_long.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

#### @ renaming the column to use the same naming convention.

In [5]:
df_pc_lat_long.rename(columns={'Postal Code':'PostalCode'}, inplace=True)

In [6]:
df_pc_lat_long.head()

  PostalCode   Latitude  Longitude
0        M1B  43.806686 -79.194353
1        M1C  43.784535 -79.160497
2        M1E  43.763573 -79.188711
3        M1G  43.770992 -79.216917
4        M1H  43.773136 -79.239476

Saving the file locally for future reference.

In [7]:
df_pc_lat_long.to_csv('toronto_geospatial_data.csv', index=False)

#### @ merging the data frame to add latitude and logitude to postal code and neighbours data frame.

In [8]:
df_toronto_pc_nh = pd.merge(df_toronto_postalcodes, df_pc_lat_long, on='PostalCode')

<a id="item6"></a>

## 6. Final output for Question2

#### @ first 10 records after data is merged(i.e. latitude and longitudes are added to toronto neighborhood data frame.

In [9]:
df_toronto_pc_nh.head(10)

,PostalCode,Borough,Neighborhood,Latitude,Longitude
0,M3A,North York,Parkwoods,43.753259,-79.329656
1,M4A,North York,Victoria Village,43.725882,-79.315572
2,M5A,Downtown Toronto,"Regent Park, Harbourfront",43.654260,-79.360636
3,M6A,North York,"Lawrence Manor, Lawrence Heights",43.718518,-79.464763
4,M7A,Queen's Park / Ontario Provincial Government,"Queen's Park, Ontario Provincial Government",43.662301,-79.389494
5,M9A,Etobicoke,Islington Avenue,43.667856,-79.532242
6,M1B,Scarborough,"Malvern, Rouge",43.806686,-79.194353
7,M3B,North York,Don Mills North,43.745906,-79.352188
8,M4B,East York,"Parkview Hill, Woodbine Gardens",43.706397,-79.309937
9,M5B,Downtown Toronto,"Garden District, Ryerson",43.657162,-79.378937

#### @ Final Shape of the data frame after 2 new columns(i.e. latitude and longitude) are added to neighborhood data

In [10]:
print('Shape of the data frame after latitude and longitudes are added', df_toronto_pc_nh.shape)

Shape of the data frame after latitude and longitudes are added (103, 5)

<a id="item7"></a>

In [11]:
df_toronto_pc_nh.to_csv('toronto_postalcodes_nh_latlong.csv', index=False)